@tailwind base; 
@tailwind components; 
@tailwind utilities; 

@font-face {
    font-family: 'header'; /*a name to be used later*/
    src: url('../assets/Poxast-Regular.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'text'; /*a name to be used later*/
    src: url('../assets/advanced-pixel-7.regular.ttf'); /*URL to font*/
}


body {
  background-color: black;
  color: white;
  font-family: text;
}

.header {
  font-family: header;
}